<%- include("header") -%>

<h2>This is the about page</h2>

<p>Yo, let me tell you all about this fabulous Wiki API</p>

<ul>
    <li>Node.js Server for API and Database</li>
    <li>ejs</li>
    <li>Node app hosted on Heroku</li>
    <li>MongoDB database</li>
    <li>Hosted on AWS using MongoDB Atlas</li>
    <li>Mongoose working in conjuntion with MongoDB</li>
    <li>Robo 3T graphical interface for looking at data</li>
    <li></li>
</ul>

<%- include("footer") -%>